<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sistema Gerenciador de Bovinos</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button>
    <mat-icon>book</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav
      [mode]="'side'"
      [opened]="opened">
      <mat-selection-list role="list" [multiple]="false">
          <mat-list-option [routerLink]="['/bovinos']">
            <span mat-list-icon>🐮
            </span>
            <div mat-line>Bovinos</div>
          </mat-list-option>
          <mat-list-option [routerLink]="['/Vacinas']">
            <span mat-list-icon>💉
            </span>
            <div mat-line>Vacinas</div>
          </mat-list-option>
          <mat-list-option [routerLink]="['/Usuarios']">
            <span mat-list-icon>🥩
            </span>
            <div mat-line>Baixas</div>
          </mat-list-option>
          <mat-list-option [routerLink]="['/Usuarios']">
            <span mat-list-icon>👨🏿
            </span>
            <div mat-line>Usuarios</div>
          </mat-list-option>
          <mat-list-option [routerLink]="['/Usuarios']">
            <span mat-list-icon>🔨
            </span>
            <div mat-line>Configurações</div>
          </mat-list-option>
      </mat-selection-list>
    </mat-sidenav>
 
    <mat-sidenav-content>
      
  
      <main>        
        <input routerLinkActive type="hidden" [routerLink]="'home'" #home="routerLinkActive" />
        <mat-toolbar *ngIf="!(activeUrl==='/')" class="toolbar" [routerLink]="['/']">
          Cadastro de {{ formName() }}
          <span class="flex-spacer"></span>
          <button mat-icon-button> 
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>