<mat-sidenav-container>
    <mat-sidenav
      [mode]="'side'"
      [opened]="opened">
      <mat-selection-list role="list" [multiple]="false">
          <mat-list-option [routerLink]="['/bovinos']">
            <span mat-list-icon>🐮
            </span>
            <div mat-line>Bovinos</div>
          </mat-list-option>
          <mat-list-option [routerLink]="['/bovinos']">
            <span mat-list-icon>💉
            </span>
            <div mat-line>Vacinas</div>
          </mat-list-option>
          <mat-list-option [routerLink]="['/bovinos']">
            <span mat-list-icon>👨🏿
            </span>
            <div mat-line>Usuarios</div>
          </mat-list-option>
      </mat-selection-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>SGB</span>
        <span class="flex-spacer"></span>
        <button mat-icon-button>
          <mat-icon>book</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>
  
      <main class="mat-elevation-z8">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>